/*----- =Slice BEGIN -----*/

@import url(//fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(animate.css);
@import url(grid.css);


/* =Common styles BEGIN */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.view-content:before,
.views-row:before,
#header:before,
.main-slider-content-wrapper:before,
#primary-menu-bar:before,
#menu-bar:before,
.region:before {
  display: table;
  content: " ";
}
.view-content:after,
.views-row:after,
#header:after,
.main-slider-content-wrapper:after,
#primary-menu-bar:after,
#menu-bar:after,
.region:after {
  display: table;
  content: " ";
  clear: both;
}
a,
input,
textarea,
.owl-buttons div,
.owl-page,
.owl-page span,
.view-secondary-slider .owl-buttons div:before,
.block-config-provider--instagram-block .block__content a:before,
.portfolio-image a:before {
  transition: all 0.3s ease;
}
.contextual-links-wrapper a {
  transition: none;
}
html,
body {
  height: 100%;
}
html {
  background: #fff;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  color: #606060;
  font-size: 14px;
  line-height: 1.375;
}
img,
input,
textarea {
  max-width: 100%;
}
textarea {
  min-height: 110px;
}
img {
  max-height: 100%;
}
.block-colorized-gmap img {
  max-height: none;
  max-width: none;
}
p:last-child {
  margin-bottom: 0;
}
h1, .h1, h2, h3, h4, h5, h6,
h1 a, .h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.views-field-title, .views-field-title a,
.node-title, .node-title a {
  line-height: 1.2;
  color: #000;
  margin: 0 0 10px;
}
h1, .h1, h2, h3, h4, h5, h6,
h1 a, .h1 a, h2 a, h3 a, h4 a,
.views-field-title, .views-field-title a,
.node-title, .node-title a {
  font-weight: 700;
}
h1 a:hover, .h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,
.views-field-title a:hover,
.node-title a:hover {
  color: #3f9ae8;
  text-decoration: none;
}
h1, .h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 32px;
  font-weight: 700;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 15px;
}
h5 {
  font-size: 14px;
  font-weight: 400;
}
body.path-frontpage h2,
#block-views-block-our-amazing-team-block-2 .block__title {
  font-size: 32px;
}
a {
  text-decoration: none;
  color: #3f9ae8;
}
a:hover {
  text-decoration: underline;
}
pre.code,
code {
  color: #606060;
  font-family: 'Courier New', monospace;
}
pre.code {
  background-color: #e8e8e8;
  padding: 10px;
  border-left: 10px solid #1ec97b;
}
mark {
  display: inline-block;
  padding: 1px;
  background: #1ec97b;
  color: #fff;
}
::-moz-selection {
  background-color: #1ec97b;
  color: white;
}
::selection {
  background-color: #1ec97b;
  color: white;
}
blockquote {
  position: relative;
  margin: 0;
  padding-left: 60px;
  min-height: 40px;
}
blockquote:before {
  font-family: 'FontAwesome';
  line-height: 1;
  font-size: 36px;
  content: '\f10d';
  color: #c6c6c6;
  position: absolute;
  left: 0;
  top: 5px;
}
#content ul,
.sidebar ul,
#content ul li,
.sidebar ul li,
#columns ul li.leaf,
#columns ul li.collapsed,
#block-system-user-menu .menu,
#block-system-user-menu .menu li {
  margin: 0;
  padding: 0;
}
#content ol,
.sidebar ol {
  padding-left: 25px;
}
#content ol li,
.sidebar ol li,
#columns ol li.leaf,
#columns ol li.collapsed {
  padding-left: 5px;
}
#content ul,
.sidebar ul,
#content ul li,
.sidebar ul li,
#columns ul li.leaf,
#columns ul li.collapsed,
#block-system-user-menu .menu,
#block-system-user-menu .menu li {
  list-style: none;
}
#columns ul,
#columns ol,
#block-system-user-menu .menu {
  margin: 15px 0;
}
#content ul li,
.sidebar ul li,
#columns ul li.leaf,
#columns ul li.collapsed {
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
}
#columns ul li:before,
.sidebar ul li:before {
  font-family: 'FontAwesome';
  content: '\f0da';
  color: #606060;
  position: absolute;
  left: 10px;
  top: 1px;
}
.menu li,
.item-list ul li,
.links li,
.menu li.leaf,
.menu li.collapsed {
  padding-left: 0;
  margin-left: 0;
}
#columns .menu li:before,
#columns .pager__items li:before,
#columns .links li:before,
#columns .contextual-links-wrapper li:before,
#columns .tabs li:before,
#page .field-name-field-portfolio-terms ul li:before {
  content: none;
}
#page .contextual-links,
#page .contextual-links li {
  margin: 0;
}
#page .contextual-links {
  padding: 0.25em 0;
}
#page .contextual-links li {
  padding: 0;
}
.links a:hover,
.node-author a:hover {
  text-decoration: underline;
}
#content p {
  margin-top: 0;
  margin-bottom: 10px;
}
.grippie {
  display: none !important;
}
#branding,
.region-inner,

body.path-frontpage .view-content,
body.path-frontpage .block__title,
div.region.header,
.block-our-amazing-team-block-1 .block__title,
.view-header,
.view-main-slider .views-field-nothing,
#columns,
#menu-bar nav,
#primary-menu-bar nav,
#secondary-menu-bar {
  max-width: 1180px;
  padding: 0 10px;
  margin-right: auto;
  margin-left: auto;
}
#columns {
  max-width: 1230px;
}
body.path-frontpage #columns {
  max-width: none;
  padding: 0;
}
body.path-frontpage .view-content .view-content {
  padding-left: 0;
  padding-right: 0;
}
.sidebar .region-inner,
.path-node #columns .content-inner,
.path-portfolio #columns .content-inner{
  padding: 0 10px;
}

#main-content {
  margin: 0;
}
#page.container {
  max-width: none;
  flex: 1 0 auto;
}
.footer-wrapper {
  flex: 0 0 auto;
}
.block__title,
.field-label-above .field-label {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.2;
  margin-top: 0;
}
body.path-frontpage .block__title {
  text-align: center;
}
.path-frontpage .view-header {
  color: #606060;
  text-align: center;
  max-width: 400px;
  margin-bottom: 40px;
}
.views-field-title a,
.section-tags .node-title a {
  color: #000;
  text-decoration: none;
}
.views-field-title a:hover,
.section-tags .node-title a:hover {
  color: #3f9ae8;
}
#page-wrapper {
  display: flex;
  flex-direction: column;
  height: inherit;
  min-height: 100%;
}
#page-wrapper table p {
  margin: 0;
}
#page-wrapper table,
#page-wrapper table .views-field-title {
  color: #606060;
}
#page-wrapper table {
  margin-bottom: 60px;
  width: 100%;
  border: none;
}
.html #page-wrapper table th {
  font-weight: 400;
  color: #000;
}
th, td {
  border: 1px solid #c6c6c6;
  padding: 10px;
}
th {
  padding-top: 15px;
  padding-bottom: 15px
}
tr,
tr.even, 
tr.odd {
  padding: 0;
  border: none;
}
tr.even {
  background-color: #fff;
}
tr.odd {
  background-color: #e8e8e8;
}
table.ver-1 td,
table.ver-1 th {
  border: none;
}
table.ver-1 tr {
  border-bottom: 1px solid #c6c6c6;
}
.form-item {
  margin: 0 0 20px;
}
.container-inline .form-item {
  display: inline-block;
}
input,
textarea {
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  box-sizing: border-box !important;
}
input {
  padding: 0 5px;
  height: 32px;
}
textarea {
  resize: vertical;
  padding: 5px;
}
label {
  font-weight: 400;
  margin-bottom: 3px;
}
nav.pager{
  text-align: right;
  padding-top: 50px;
}
.pager__items {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.pager__items .pager__item li,
.view-portfolio-terms a {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 0;
}
.view-portfolio-terms a {
  margin-right: 7px;
}
#page .pager__items li.pager__item {
  padding-left: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
#page .pager__items ol, ul{
  display: block;
  padding: 0;
}
#page .field-name-field-portfolio-terms ul,
#page .field-name-field-portfolio-terms ul li {
  list-style: none;
}
#page .field-name-field-portfolio-terms ul li {
  margin: 0;
  padding: 0 0;
}
#page .pager__items .pager li:last-of-type {
  margin-right: 0;
}
#page .pager__items .pager__item a,
#page .pager__items .pager__item .is-active,
#page .view-portfolio-terms a {
  display: inline-block;
  padding: 5px 10px;
  color: #606060;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  text-decoration: none;
}
#page .pager .pager__item .pager__link--is-active,
#page .view-portfolio-terms a.active,
#page .pager .pager__item a:hover,
#page .view-portfolio-terms a:hover {
  background: #3f9ae8;
  border-color: #3f9ae8;
  color: #fff;
}
#page .item-list .pager .pager-current {
  cursor: default;
  font-weight: 400;
}
.region-secondary-content {
  background: url(images/bg-page-title.png) no-repeat 50% 50%;
  background-size: cover;
}
#block-multipurpose-corporate-theme-page-title {
  padding: 30px 80px;
}
#block-multipurpose-corporate-theme-page-title .page__title {
  display: inline-block;
  padding: 15px 30px;
  background-color: #1ec97b;
  color: #fff;
}
.sidebar .block {
  margin-bottom: 30px;
}
/* Info items */
.views-field-created,
.views-field-disqus-comment-count,
.views-field-disqus-comment-count a,
.data,
.comments,
.comments a,
.node__pubdate,
.node__author {
  display: inline-block;
}
.views-field-created,
.views-field-disqus-comment-count,
.data,
.comments,
.node__pubdate,
#page-wrapper .node__author {
  margin-bottom: 20px;
}
.views-field-created,
.data,
.comments,
.node__pubdate,
.node__author,
.views-field-disqus-comment-count a {
  padding-left: 23px;
}
.views-field-created,
.views-field-disqus-comment-count a,
.data,
.comments,
.comments a,
.datetime,
.node__pubdate,
.node__author,
.node__author a {
  font-size: 12px;
  line-height: 20px;
  color: #a6a6a6;
  position: relative;
  text-decoration: none;
}
.views-field-comment-count {
  display: inline-block;
}
.node__author a:hover {
  color: #3f9ae8;
}
.views-field-disqus-comment-count a:hover,
.comments a:hover {
  color: #3f9ae8;
}
.views-field-created,
.data,
.node__pubdate,
.node__author {
  margin-right: 25px;
}
.views-field-created:before,
.view-recent-news .views-field-disqus-comment-count a:before,
.data:before,
.comments:before,
.node__pubdate:before,
.node__author:before {
  font-size: 18px;
  line-height: 1;
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
}
.views-field-created:before,
.data:before,
.node__pubdate:before {
  content: '\f133';
}
.view-recent-news .views-field-disqus-comment-count a:before,
.comments:before {
  content: '\f0e5';
}
.node__author:before {
  content: '\f007';
}
#tasks {
  margin-bottom: 15px;
}
body.path-node h1.node__title{
  display:none;
}

/* Buttons */
.btn,
input[type="submit"],
.view-dignities .view-footer a,
.view-our-amazing-team .views-field-nothing a {
  display: inline-block;
  text-transform: capitalize;
  height: 42px;
  padding: 9px 30px;
  background: #1ec97b;
  border: 1px solid #1aab69;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.45);
}
.btn:hover,
.view-dignities .view-footer a:hover,
.view-our-amazing-team .views-field-nothing a:hover,
.porfolio-image-content-link a:hover,
.view-portfolio-terms a:hover {
  text-decoration: none;
}
.btn + .btn,
input[type="submit"] + input[type="submit"],
.view-dignities .view-footer a +  a,
.view-our-amazing-team .views-field-nothing a + a {
  margin-left: 20px;.
}
input[type="submit"] {
  padding: 8px 20px;
}
.btn:hover,
input[type="submit"]:hover,
.view-dignities .view-footer a:hover,
.view-our-amazing-team .views-field-nothing a:hover {
  background-color: #11a360;
}
.block-superfish select,
#primary-menu-bar select,
#menu-bar select {
  display: none;
}
.node-readmore a,
.comment-comments a,
.comment-add a {
  position: relative;
}
.node-readmore a,
.comment-comments a,
.comment-add a {
  color: #a6a6a6;
}
.node-readmore a:hover,
.comment-comments a:hover,
.comment-add a:hover {
  color: #3f9ae8;
  text-decoration: none;
}
.node-readmore a:before,
.comment-comments a:before,
.comment-add a:before {
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
}
.node-readmore a {
  padding-left: 13px;
}
.node-readmore a:before {
  content: '\f101';
}
.comment-comments a {
  padding-left: 19px;
}
.comment-comments a:before {
  content: '\f0e5';
}
.comment-add a {
  padding-left: 17px;
}
.comment-add a:before {
  content: '\f055';
}
/* Share buttons */
.a2a_kit a {
  margin-bottom: 8px;
}
ul.primary {
  white-space: normal;
}
.owl-theme .owl-controls .owl-buttons div:hover {
  opacity: 1;
}
/* =Common styles END */

/* Drupal standart blocks BEGIN */
#columns {
  padding: 40px 25px;
}
body.path-frontpage #columns {
  padding: 0;
}
#logo,
#name-and-slogan {
  float: left;
}
#name-and-slogan #site-name {

}
#block-system-user-menu {
  float: right;
}
.feed-icon {
  display: inline-block;
  margin: 15px 5px;
}
#block-node-recent table {
  margin-bottom: 20px;
}
#block-node-recent tr.odd,
#block-node-recent tr.even {
  background: none;
}
#block-node-recent th,
#block-node-recent td,
#block-node-recent tbody {
  border: none;
}
.block-search .form-item {
  margin-bottom: 10px;
}
.node-article {
  margin-bottom: 20px;
}
#block-system-powered-by {
  padding: 30px 0;
}
#comments,
.comment-form {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #c6c6c6;
}
.comment-form + .comment-form {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
.comment {
  margin-bottom: 40px;
}
#comments .form-text,
#comments .form-textarea {
  width: 100%;
}
#primary-menu-bar,
#menu-bar,
#primary-menu-bar .menu,
#menu-bar .menu {
  background: #fff;
}
#primary-menu-bar .menu .menu,
#menu-bar .menu  .menu {
  display: none;
}
#primary-menu-bar .menu .menu .menu,
#menu-bar .menu .menu .menu {
  left: 100%;
  top: 0;
}
#primary-menu-bar li:hover > .menu,
#menu-bar li:hover > .menu {
  display: block;
}
#primary-menu-bar nav > .menu,
#menu-bar nav > .menu {
  float: right;
  margin: 0;
}
#page #menu-bar {
  z-index: 101;
}
#primary-menu-bar > nav > .menu > li,
#menu-bar .menu-depth-1 {
  float: left;
}
#primary-menu-bar > nav > .menu > li > a,
#menu-bar .menu-depth-1 > a {
  text-transform: uppercase;
  padding: 33px 20px 34px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
#primary-menu-bar > nav > .menu > li > a:hover,
#menu-bar .menu-depth-1 > a:hover {
  border-left-color: #e8e8e8;
  border-right-color: #e8e8e8;
}
#primary-menu-bar > nav > .menu > li > a:hover,
#menu-bar .menu-depth-1 > a:hover,
#primary-menu-bar > nav > .menu > li > a.active,
#menu-bar .menu-depth-1 > a.active {
  color: #000;
}
#primary-menu-bar .menu .menu,
#menu-bar .menu .menu {
  position: absolute;
  padding: 10px 0 !important;
  width: auto !important;
  background: #fff;
  top: 80px;
  min-width: 190px;
  border-radius: 0;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(232,232,232,1);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(232,232,232,1);
  box-shadow: inset 0px 0px 0px 1px rgba(232,232,232,1);
}
#primary-menu-bar .menu .menu a,
#menu-bar .menu .menu a {
  padding: 5px 20px;
}
#primary-menu-bar .menu .menu a:hover,
#menu-bar .menu .menu a:hover {
  background: #000;
  color: #fff;
}
.sidebar .form-text {
  width: 100%;
}
/* Drupal standart blocks END */

/* =Header BEGIN */
#header,
#menu-bar,
#primary-menu-bar {
  position: relative;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.3);
  z-index: 100;
}
#header {
  padding-top: 4px;
}
#header::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  top: 1px;
  left: 0;
  background: rgba(63,153,232,1);
  background: -moz-linear-gradient(left, rgba(63,153,232,1) 0%, rgba(30,201,124,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(63,153,232,1)), color-stop(100%, rgba(30,201,124,1)));
  background: -webkit-linear-gradient(left, rgba(63,153,232,1) 0%, rgba(30,201,124,1) 100%);
  background: -o-linear-gradient(left, rgba(63,153,232,1) 0%, rgba(30,201,124,1) 100%);
  background: -ms-linear-gradient(left, rgba(63,153,232,1) 0%, rgba(30,201,124,1) 100%);
  background: linear-gradient(to right, rgba(63,153,232,1) 0%, rgba(30,201,124,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f99e8', endColorstr='#1ec97c', GradientType=1 );
}
#header #block-multipurpose-corporate-theme-branding,
#logo,
#name-and-slogan {
  clear: none;
  width: auto;
  float: left;
  padding-top: 14px;
  padding-bottom: 6px;
  line-height: 60px;
  vertical-align: middle;
}
#header .block-logo #logo {
  padding: 0;
}
.site-branding__logo-link {
  margin-right: 15px;
}
#header .block-logo .content * {
  vertical-align: middle;
}
#header .block-logo img {
  max-width: 230px;
  max-height: 60px;
}
.sf-sub-indicator {
  display: none;
}
#block-mainnavigation ul,
#block-mainnavigation li,
#menu-bar .menu,
#menu-bar .menu li,
#primary-menu-bar .menu,
#primary-menu-bar .menu li {
  margin: 0;
  list-style: none;
}
#block-mainnavigation ul,
#menu-bar .menu,
#primary-menu-bar .menu {
  padding: 0 !important;
}
#block-mainnavigation li,
#menu-bar .menu li,
#primary-menu-bar .menu li {
  padding: 0;
}
#superfish-main a,
#primary-menu-bar .menu a,
#menu-bar .menu a {
  line-height: 1;
  font-size: 13px;
  color: #a6a6a6;
  text-decoration: none;
  display: block;
}
#superfish-main #menu-468-1.sf-depth-1 > a,
#menu .menu-mlid-468 > a {
  cursor: default;
  pointer-events: none;
}
#superfish-main #menu-468-1.sf-depth-1 > a:hover,
.path-frontpage #superfish-main #menu-468-1.active-trail.sf-depth-1 > a,
#menu .menu-mlid-468 > a:hover,
#menu .menu-mlid-468 > a.active {
  color: #a6a6a6;
}
#header .btn-mobile-menu {
  clear: none;
  width: auto;
  float: right;
  width: 50px;
  height: 35px;
  background: url(images/icon-mobile-menu.png) no-repeat 50% 50%;
  font-size: 0;
  cursor: pointer;
  margin-top: 22px;
}
#toggle-icon {
  margin-top: 5px;
  color: #000;
}
#header #toggle-icon:hover {
  color: #3f9ae8;
}
/* =Header END */

/* =Footer BEGIN */
.region-tertiary-content {
  background-color: #2b2d2f;
  color: #62676d;
}
.region-tertiary-content {
  padding-top: 35px;
}
.region-tertiary-content .region-inner {
  padding: 0;
}
.region-tertiary-content .block {
  width: 25%;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
}
.about-this-theme,
#page-wrapper .region-tertiary-content .block__title {
  padding: 0;
  margin-bottom: 15px;
  text-align: left;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.region-tertiary-content .view-content,
body.path-frontpage .region-tertiary-content .view-content {
  padding: 0;
}
h2.block-title{
  margin-bottom: 15px;
}
.block__title {
  margin-bottom: 15px;
}
.about-this-theme {
  margin-bottom: 10px;
}
.field-label-above {
  margin-top: 20px;
}
.field-label-above ul,
.field-label-above li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.field-label-above li {
  display: inline-block;
  margin-right: 10px;
}
.view-popular-tags a,
.field-label-above a {
  color: #62676d;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #62676d;
  padding: 0 10px;
  margin: 0 10px 10px 0;
}
.view-popular-tags a:hover,
.field-label-above a:hover {
  color: #fff;
  background-color: #3d8fd6;
  border-color: #3d8fd6;
}
.block-config-provider--instagram-block .block__content {
  font-size: 0;
  line-height: 0;
  margin-left: -5px;
  margin-right: -5px;
}
.block-config-provider--instagram-block .block__content a {
  display: inline-block;
  position: relative;
  margin: 0 5px 10px;
}
.block-config-provider--instagram-block .block__content a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.block-config-provider--instagram-block .block__content a:hover:before {
  background-color: #3d8fd6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  opacity: 0.4;
}
.block-config-provider--instagram-block img {
  margin: 0 !important;
}
#superfish-main-menu {
  display: block !important;
}
#superfish-main-menu,
#superfish-main-menu li {
  width: 100%;
}
#superfish-main-menu li {
  display: block;
  float: none;
  margin: 0;
  border-bottom: 1px solid #62676d;
  padding: 10px 0;
}
#superfish-main-menu li:last-child {
  border-bottom: none;
}
#superfish-main-menu a {
  color: #3f9ae8;
  text-decoration: none;
  padding: 0;
  height: auto;
}
#superfish-main-menu a:hover {
  color: #fff;
}
#superfish-main-menu a {
  display: inline-block;
}
.region-footer {
  background-color: #202123;
}
#block-multipurpose-corporate-theme-block-3 {
  text-align: center;
}
#block-multipurpose-corporate-theme-block-3 .block__content a {
  font-size: 32px;
  line-height: 90px;
  text-align: center;
  color: #84888c;
  width: 85px;
  height: 90px;
  display: inline-block;
}
#block-multipurpose-corporate-theme-block-3 .block__content a:hover {
  color: #fff;
  background-color: #1ec97b;
}
/* =Footer BEGIN */

/* =Dignities BEGIN */
.view-dignities {
  background: #fff;
  padding: 70px 0;
}
.view-dignities .views-row {
  position: relative;
  width: 25%;
  float: left;
  text-align: center;
  padding: 0 10px;
  margin-bottom: 47px;
}
.view-dignities .views-field-field-image {
  margin-bottom: 25px;
  height: 95px;
}
.view-dignities .views-field-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
.view-dignities .views-field-title a::after {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
}
.view-dignities .views-field-body {
  color: #606060;
}
#content .view-dignities p {
  margin-bottom: 8px;
}
.view-dignities .view-footer {
  text-align: center;
}
/* =Dignities END */

/* =Recent news BEGIN */
#block-block-views-recent-news-block {
  padding: 50px 0 100px;
}
#block-block-views-recent-news-block .block__title {
  margin-bottom: 45px;
}
#block-block-views-recent-news-block .views-field-field-news-image {
  width: 50%;
  float: left;
  margin-right: 40px;
}
#block-block-views-recent-news-block .views-field-field-news-image {
  display: block;
}
#block-block-views-recent-news-block .views-field-title {
  margin-bottom: 10px;
}
#block-block-views-recent-news-block .views-field-title a {
  font-size: 18px;
  font-weight: 700;
}
.views-field-body {
  color: #606060;
}
/* =Recent news END */

/* =Our amazing team BEGIN */
#block-views-block-our-amazing-team-block-1 .block__title,
#block-views-block-our-amazing-team-block-2 .block__title {
  text-align: center;
}

#block-views-block-our-amazing-team-block-1 {
  padding: 60px 0 85px;
}
#block-views-block-our-amazing-team-block-2 .view-header {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 40px;
}
.view-our-amazing-team .view-content {
  display: flex;
  justify-content: space-around;
}
.view-our-amazing-team .views-row {
  width: 28.3333%;
  margin: 0 2% 50px;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  text-align: center;
}
.view-our-amazing-team .views-field-field-photo {
  margin-bottom: 15px;
}
.view-our-amazing-team .views-field-field-photo img {
  display: block;
  margin: 0 auto;
}
.view-our-amazing-team .views-field-title {
  font-size: 18px;
  font-weight: 700;
  margin: 15px 0;
}
.view-our-amazing-team .views-field-body {
  margin-bottom: 30px;
}
.view-our-amazing-team .views-field-nothing {
  margin-top: auto;
}
.view-our-amazing-team .views-field-nothing a {
  width: 140px;
  height: 42px;
  padding: 8px 10px;
}
/* =Our amazing team END */

/* =Secondary slider BEGIN */
.view-secondary-slider {
  background-color: #3f9ae8;
  font-size: 16px;
}
.view-secondary-slider .owl-carousel {
  padding: 35px 95px 15px;
}
#block-views-block-secondary-slider-block-1,
#block-views-block-secondary-slider-block-1 .views-field-body,
#block-views-block-secondary-slider-block-1 a {
  color: #fff;
}
.view-secondary-slider .views-field-field-image {
  float: right;
  max-width: 45%;
  margin-top: -7%;
}
.view-secondary-slider .views-field-field-image img {
  display: block;
}
.view-secondary-slider .views-field-title,
.view-secondary-slider .views-field-body,
.view-secondary-slider .views-field-title-1 {
  clear: left;
  width: 470px;
  margin-bottom: 25px;
  margin-right: 45%;
}
.view-secondary-slider .views-field-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  font-weight: 700;
  margin-top: 55px;
}
.views-field-title-1 .field-content {
  display: inline-block;
}
.view-secondary-slider .views-field-title-1 a {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 6px 0 6px 40px;
  position: relative;
}
.view-secondary-slider .views-field-title-1 a:hover {
  color: #24eb90;
}
.view-secondary-slider .views-field-title-1 a:before {
  font-family: 'FontAwesome';
  font-size: 36px;
  line-height: 1;
  content: '\f18e';
  position: absolute;
  left: 1px;
  top: 0;
}
.owl-theme .owl-controls {
  margin: 0;
}
.owl-theme img {
  display: block;
}
.owl-theme .owl-controls .owl-buttons div {
  line-height: 0; 
  font-size: 0;
  color: transparent;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 26px;
  height: 41px;
  border-radius: 0;
  background: transparent;
}
.owl-theme .owl-prev {
  left: 0;
}
.owl-theme .owl-next {
  right: 0;
}
.view-secondary-slider .owl-controls .owl-buttons div {
  opacity: 1;
}
.view-secondary-slider .owl-buttons div:before {
  color: #fff;
  font-size: 41px;
  line-height: 1;
  position: absolute;
  top: 0;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
.view-secondary-slider .owl-controls .owl-buttons div:hover:before {
  color: #24eb90;
}
.view-secondary-slider .owl-prev:before {
  left: 0;
  font-family: 'FontAwesome';
  content: '\f053';
}
.view-secondary-slider .owl-next:before {
  right: 0;
  font-family: 'FontAwesome';
  content: '\f054';
}
.owl-theme .owl-controls .owl-page {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 4px;
}
.owl-theme .owl-controls .owl-page:last-child {
  margin-right: 0;
}
.owl-theme .owl-controls .owl-page.active,
.owl-theme .owl-controls .owl-page:hover {
  background: rgba(255, 255, 255, 0.3);
}
.owl-theme .owl-controls .owl-page span {
  background: #fff;
  opacity: 1;
  height: 8px;
  width: 8px;
  margin: 3px;
}
.owl-theme .owl-controls .owl-page:hover span,
.owl-theme .owl-controls .owl-page.active span {
  background: #000;
}
/* =Secondary slider END */

/* =Our mission BEGIN */
#block-our-mission{
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 55px 0 70px;
  position: relative;
  background: url(images/pattern-dark-line.png) repeat 0 0;
}
#block-our-mission .block__title {
  color: #fff;
}
#block-our-mission:before {
  content: '';
  position: absolute;
  top: -30px;
  left: 0;
  height: 30px;
  width: 100%;
  background: url(images/dark-line-before.png) no-repeat 50% 50%;
}
#block-our-mission p {
  max-width: 810px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
#block-our-mission br {
  display: none;
}
/* =Our mission END */

/* =Our happy clients BEGIN */
#block-views-block-our-clients-block-1 {
  color: #fff;
  background: url(images/pattern-dark-line.png) repeat 0 0;
  padding: 30px 0 25px;
  box-shadow: inset 0px -300px 150px -150px rgba(100,100,100,0.7);
}
#block-views-block-our-clients-block-1 .block__title {
  margin-bottom: 35px;
  color: #fff;
}
#block-views-block-our-clients-block-1 .owl-item {
  text-align: center;
}
#block-views-block-our-clients-block-1 img {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
#block-views-block-our-clients-block-1 .owl-controls {
  margin-top: 25px;
}
/* =Our happy clients END */

/* =Main slider BEGIN */

.view-main-slider {
  min-height: 300px;
  height: 530px;
  cursor: -webkit-grab;
  cursor: grab;
}
.view-main-slider .view-content,
.view-main-slider .owl-carousel,
.view-main-slider .owl-wrapper-outer,
.view-main-slider .owl-wrapper,
.view-main-slider .owl-item,
.view-main-slider .owl-item > div,
.view-main-slider .views-field-nothing,
.view-main-slider .views-field-nothing .field-content,
.main-slider-content-wrapper,
.main-slider-image  {
  height: 100%;
}
body.path-frontpage .view-main-slider .view-content,
.view-main-slider .owl-carousel,
.view-main-slider .owl-wrapper-outer,
.view-main-slider .owl-wrapper,
.view-main-slider .owl-item,
.view-main-slider .owl-item > div {
  max-width: none;
  padding: 0;
  color: #fff;
}
.view-main-slider .views-field-nothing {
  position: relative;
  z-index: 2;
}
.view-main-slider .views-field-nothing .field-content {
  display: block;
  text-align: center;
}
.main-slider-content-wrapper {
  padding: 20px;
}
.main-slider-text-wrapper,
.main-slider-image {
  display: inline-block;
}
.main-slider-text-wrapper {
  width: 44%;
}
.main-slider-image {
  width: 54%;
}
.main-slider-text-wrapper {
  color: #fff;
  text-align: left;
  float: left;
  font-size: 16px;
  padding: 70px 10px 80px 60px;
}
.view-main-slider .owl-item {
  position: relative;
}
.view-main-slider .views-field-field-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 450px;
  overflow: hidden;
}
.view-main-slider .views-field-field-background-image .field-content {
  max-height: 100%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(29,55,77,1) 0%, rgba(29,55,77,0.6) 15%, rgba(29,55,77,0.6) 85%, rgba(29,55,77,1) 100%);
  background: linear-gradient(to right, rgba(29,55,77,1) 0%, rgba(29,55,77,0.6) 15%, rgba(29,55,77,0.6) 85%, rgba(29,55,77,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#991d374d', endColorstr='#991d374d', GradientType=1 );
}
.view-main-slider .owl-item:first-child:before,
.view-main-slider .owl-item:last-child:before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 450px;
  max-height: 100%;
  width: 100%;
  top: 0;
  background: #1d374d;
}
.view-main-slider .owl-item:first-child:before {
  right: 50%;
}
.view-main-slider .owl-item:last-child:before {
  left: 100%;
}
.view-main-slider .views-field-field-background-image img {
  width: 100%;
  max-height: none;
  position: relative;
  z-index: -1;
}
.main-slider-image {
  position: relative;
}
.main-slider-image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: auto;
}
.main-slider-title {
  margin-bottom: 30px;
}
.main-slider-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  background: #1ec97b;
  font-size: 30px;
  padding: 10px 20px;
  display: inline-block;
}
.check-list,
.check-list li {
 margin: 0;
 padding: 0;
 list-style: none;
}
.check-list li {
  position: relative;
  padding-left: 40px;
}
.check-list li + li {
  margin-top: 25px;
}
#page .check-list li:before {
  line-height: 1;
  font-family: 'FontAwesome';
  content: '\f00c';
  font-size: 24px;
  color: #3f9ae8;
  position: absolute;
  left: 0;
  top: 0;
}
.view-main-slider .owl-controls .owl-buttons div {
  top: 40%;
  z-index: 50;
  margin: 0;
  width: 50px;
  height: 66px;
  background: #000;
  background: rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
}

.view-main-slider .owl-controls .owl-buttons .owl-prev {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-image: url(images/main-slider-prev.png);
  background-position: 40% 50%;
}
.view-main-slider .owl-controls .owl-buttons .owl-next {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-image: url(images/main-slider-next.png);
  background-position: 60% 50%;
}
/* =Main slider END */

/* =Sidebar nav BEGIN */
#block-menu-block-2 .menu,
#block-menu-block-2 .menu li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#block-menu-block-2 .menu {
  text-align: right;
}
#block-menu-block-2 .content a {
  color: #62676d;
  text-transform: uppercase;
  text-decoration: none;
}
#block-menu-block-2 .content a.active {
  font-weight: 500;
  color: #3d8fd6;
}
#block-menu-block-2 .content a:hover {
  color: #3d8fd6;
}

/* =Sidebar nav BEGIN */

/* =Alerts BEGIN */
.alerts {
  position: relative;
  padding: 20px 20px 20px 55px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.alerts:before {
  position: absolute;
  left: 20px;
  top: 17px;
  font-family: 'FontAwesome';
  line-height: 1;
  font-size: 24px;
}
.alerts-error {
  border-color: #cb5959;
  color: #cb5959;
  background-color: #ffcccc;
}
.alerts-error:before {
  content: '\f057';
}
.alerts-warning {
  border-color: #ecbd19;
  color: #ecbd19;
  background-color: #ffffcc;
}
.alerts-warning:before {
  content: '\f071';
}
.alerts-important {
  border-color: #86d073;
  color: #86d073;
  background-color: #d4ffc9;
}
.alerts-important:before {
  content: '\f058';
}
.alerts-attention {
  border-color: #7ba4cc;
  color: #7ba4cc;
  background-color: #d2e9ff;
}
.alerts-attention:before {
  content: '\f05a';
}
/* =Alerts END */

/* =Pricing tables BEGIN */
.pricing-tables .row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.pricing-tables .col {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}
.pricing-table {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #3d8fd6;
  border-radius: 10px;
  padding: 15px 15px 35px;
  height: 100%;
}
.pricing-table .price-options {
  margin-top: auto;
}
.pricing-table .price-block {
  margin-bottom: 25px;
}
.price-plan,
.price-value {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 32px;
}
.price-value {
  font-weight: 700;
  color: #000;
}
.price-value .sub {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.pricing-table .view-more .btn {
  width: auto;
}
.about-us-img {
  float: left;
  width: 33.3333%;
  margin-right: 15px;
}
.about-us-img img {
  display: block;
}
.about-us-info .block-text-wrap {
  overflow: hidden;
}
.about-us-info .block__title {
  font-family: 'Roboto', sans-serif;
}
/* =Pricing tables END */

/* =About us page BEGIN */
article.node--id-3 {
  margin-bottom: 80px;
}
article.node--id-3 header.node__header{
  display:none;
}
/* =About us page END */

/* =Blog page BEGIN */
.view-blog .views-field-field-blog-image,
.view-blog .views-field-nothing {
  max-height: 400px;
  width: 48%;
  float: left;
}
.view-blog .views-field-field-blog-image {
  overflow: hidden;
}
.view-blog .views-field-field-blog-image img {
  display: block;
  width: 100%;
  max-height: none;
  height: auto;
}
.view-blog .views-field-title,
.view-blog .views-field-title a,
.section-tags .node-title,
.section-tags .node-title a {
  font-size: 18px;
  font-weight: 700;
}
.view-blog .views-field-field-blog-image {
  margin-right: 4%;
}
.view-blog .views-row,
.section-tags .nodes .node {
  padding: 30px 0 50px;
  border-bottom: 1px solid #e8e8e8;
}
/* =Blog page END */

/* =Blog page post and portfolio item BEGIN */
.field-type-image {
  margin-bottom: 20px;
}
.field-type-image img {
  display: block;
}
/* =Blog post page and portfolio item END */

/* Portfolio page BEGIN */
.view-portfolio .view-header,
#content .view-portfolio-terms p {
  margin: 0;
  padding: 0;
}
.view-portfolio .view-header {
  width: auto;
  text-align: left;
  max-width: none;
}
.view-portfolio-terms {
  margin-bottom: 25px;
}
.view-portfolio-terms * {
  display: inline-block;
}
.view-portfolio > .view-content {
  margin-left: -10px;
  margin-right: -10px;
}
.view-portfolio > .view-content > .views-row {
  width: 49.6%;
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  margin-bottom: 35px;
}
.view-portfolio > .view-content > .views-row .views-field-body {
  padding: 0 10px;
  text-align: center;
}
.view-portfolio-column-three > .view-content > .views-row {
  width: 33%;
}
 .view-portfolio-column-four > .view-content > .views-row {
  width: 24.65%;
}
.portfolio-content-wrapper {
  position: relative;
}
.portfolio-image {
  position: relative;
  z-index: 1;
}
.portfolio-image a {
  display: block;
}
.portfolio-image a:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 55, 77, 0.6);
  opacity: 0;
}
.porfolio-image-content-link {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.porfolio-image-content-link a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  padding-left: 40px;
  opacity: 0;
  display: inline-block;
  white-space: pre-line;
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}
.porfolio-image-content-link a:before {
  font-family: 'FontAwesome';
  content: '\f18e';
  font-size: 36px;
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.portfolio-content-wrapper:hover .portfolio-image a:before,
.portfolio-content-wrapper:hover .porfolio-image-content-link a {
  opacity: 1;
}
.views-field-field-portfolio-image {
  margin-bottom: 15px;
  cursor: pointer;
}
.views-field-field-portfolio-image img {
  display: block;
  width: 100%;
}
/* Portfolio page END */

/* Contact us page BEGIN */
div.page-contact-us  .region-secondary-content{
  background: none;
}
div.page-contact-us  .region-secondary-content .views-field-field-gmap iframe {
  width:100%;
  height: 450px;
}


div.page-contact-us .region-secondary-content .region-inner {
  max-width: none;
  padding: 0;
}
div.page-contact-us #block-pagetitle{
  margin-bottom: 30px;
  padding: 0 10px;
}
div.page-contact-us  #block-multipurpose-corporate-theme-system-main {
 display: none;
}

div.page-contact-us  #main-content {
  max-width: 890px;
  margin-left: auto;
  margin-right: auto;
}
.contact-message-contact-us-form-form .block__content,
#block-contactusblocktext .block__content{
  max-width: 380px;
  display: block;
}
#block-contactusblocktext .block__content {
  float: right;
}
div.page-contact-us article.node--id-6 {
  width: 50%;
  display: inline-block;
  padding: 0 10px 10px;
  vertical-align: top;
}
div.page-contact-us  div.contact-message-contact-us-form-form{
  width: 50%;
  display: inline-block;
  padding: 0 10px 10px;
  vertical-align: top;
}
div.contact-message-contact-us-form-form {
  margin-bottom: 30px;
}
div.contact-message-contact-us-form-form textarea{
  width: 100%;
}
div.page-contact-us #block-contactusblocktext{
  width: 50%;
  display: inline-block;
  padding: 0 10px 10px;
  vertical-align: top;
  float: right;
}
div.page-contact-us  #content {
  margin-left: -10px;
  margin-right: -10px;
}
.section-contact-us.not-logged-in #page-title {
  margin-bottom: 30px;
}
body.section-contact-us #content .form-text,
  body.section-contact-us #content .form-textarea {
    width: 100%;
  }
body.section-contact-us {
  min-height: 115px;
}
label.form-required:after{
  content: "  *";
  color: #ff0000;
}
/* Contact us page END */

/*----- =Slice END -----*/

/*------- RTL text fixes -------------*/

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  float: left;
}

/*------- RTL text fixes END -------------*/

.sf-menu-extended {
  padding-bottom: 20%;
}
